<div class="recipe-item {settings.list.item.class} {f:render(partial: 'Recipe/CategoryClasses', arguments: '{categories: recipe.categories}')}"
	data-usage="recipe-list-item"
	data-parent="RecipeDbList"
	data-name="{recipe.name}"
	data-description="{recipe.description}"
	data-pdf-public-url="{recipe.pdf.originalResource.publicUrl}"
	data-issuu-config-id="{recipe.issuuConfigId}"
	data-category="{f:render(partial: 'Recipe/CategoryNames', arguments: '{categories: recipe.categories}')}"
	data-image-public-url="{f:render(partial: 'Recipe/ListItemLargeImageUrl', arguments: '{recipe: recipe}')}"
	>

	<div class="recipe-item__wrp">
		<div class="recipe-item__item-img-wrp">
			<f:if condition="{recipe.image}">
				<f:then>
					<f:image src="{recipe.image.uid}" treatIdAsReference="1" alt="{recipe.image.originalResource.title}" class="recipe-item__img img-responsive" width="{settings.list.item.image.width}" height="{settings.list.item.image.height}" />
				</f:then>
				<f:else>
					<f:image src="{settings.list.item.image.no-image}" alt="{recipe.image.originalResource.title}" class="img-responsive recipe-item__img" width="{settings.list.item.image.width}" height="{settings.list.item.image.height}" />
				</f:else>
			</f:if>
		</div>
		<div class="recipe-item__info">
			<f:if condition="{recipe.categories}">
				<p class="recipe-item__cat"><f:for each="{recipe.categories}" as="category">{category.title} </f:for></p>
			</f:if>
			<f:if condition="{recipe.name}">
				<h4 class="recipe-item__name">{recipe.name}</h4>
			</f:if>
		</div>
	</div>
</div>
